
*, body, html{
    margin:0;
    padding: 0;
}
.bckimg
{
    max-height: 100vh;
    width: 100vw;
}

.hr
{
    border: 0.1em solid pink;
}

.hrhead
{
    border: 0.1em solid pink!important;
    border-radius: 5em;
}

.header li
{
  display: inline;
}

.header
{
  text-align: center;
  word-spacing: 1em;
  color:black;
}

#navbar
{
  background-color:  rgb(247, 182, 193);
  padding: 0.8em;
  padding-top: 1.5em;
}


.headerimg
{
  background-image: url(blog.jpeg);
  
}

.me
{
    max-height: 35vh;
    width: 35vh;
    border-radius: 50%;
}

h1
{
    text-align: center;
    font-family: Snell Roundhand, cursive;
    font-size: 100em;
}

li a:link
{
    color: black;
    font-family: Gill Sans, sans-serif;
    text-decoration: none;
}

a:visited
{
  color: black;
  text-decoration: none;
}

li a:hover
{
  color: white;
  text-decoration: none;
}

a:active
{
  color:black;
  text-decoration: none;
}

p, h3
{
    font-family: Gill Sans, sans-serif;
}
h3
{
    text-align: center;
}
.firstrow, .secondrow, .thirdrow, .fourthrow, .fifthrow
{
    margin-top: 5em;
    padding: 4em;
}

tr
{
    font-size: 0.8em;
    font-family: Gill Sans, sans-serif ;
    color: white;
}

th
{
    font-size:1.1em;
}

.table-hover 
{
    background-color:rgb(245, 182, 182);
}

.btn
{
  font-family: Gill Sans, sans-serif;
}

.btn :active
{
  color: pink;
}

#but
{
  background-image: url(blog.jpeg);
  color: black;
  border: none;
}

.bi
{
  margin-right: 0.2em;
  margin-bottom: 0.2em;
}

#medal
{
  width: 3em;
  height: 3em;
  margin-left: 2em;
}

#medalbox
{
  font-family: Gill Sans, sans-serif;
  font-size: 1.7em;
}

#medal1
{
  width: 3em;
  height: 3em;
  margin-left: 1em;
  
}

#medal2
{
  width: 3em;
  height: 3em;
  margin-left: 2em;
  
}

#medal3
{
  width: 3em;
  height: 3em;
  margin-left: 1.8em;
}

.carousel 
{
  position: relative;
  width: 45em;
  height: 27.5em;
  margin-left: 14em;
  margin-top: 5em;
}

figcaption
{
  font-family: Gill Sans, sans-serif;
  font-style: italic;

}

.back
{
  position: relative;
  margin-left: 20em;

}

.textwithinback
{
  position: absolute;
  top: 10em;
  padding: 8em;
  margin-top: -18em;
  font-family: Gill Sans, sans-serif;
  text-align: center;
}

#softskills
{
  font-family: Gill Sans, sans-serif;
  border: black;
  border-width: 5em;
  font-size: 1.1em;
  position: absolute;
  margin-bottom: 2em;
  margin-left: 12em;
  margin-right: 3em;
}
.icons
{
  position: absolute;
  margin-left: 35em;
  margin-bottom: 1em;
}

#bottom
{
  background-color: rgb(247, 182, 193);
  text-align: center;
  padding: 0.2em;
  
}

.resize
{
  height:1em;
  width:1em;
}


/* Timeline  
Author: CP Lepag
Source: https://freefrontend.com/css-timelines/
Code and Demo from website: https://codepen.io/cplepage/pen/EozVXL
Date Published: January 24, 2018
Date Accessed: 22/03/2020
*/
html,
body {
  font: 100% "Lato", sans-serif;
  font-weight: 300;
  height: 100%;
  background-color: white;
}

.blue-bg {
  background-color: white;
  color: rgb(247, 182, 193);
  height: 100%;
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: rgb(247, 182, 193);;
  color: #4D4545;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row 
{
  display: flex;
}

.how-it-works.row .col-2 
{
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.how-it-works.row .col-2::after 
{
  content: "";
  position: absolute;
  border-left: 3px solid rgb(247, 182, 193);;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after 
{
  height: 50%;
  left: 50%;
  top: 50%;
}

.how-it-works.row .col-2.full::after 
{
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after 
{
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div 
{
  padding: 0;
  height: 40px;
}
.timeline hr 
{
  border-top: 3px solid rgb(247, 182, 193);;
  margin: 0;
  top: 17px;
  position: relative;
}

.timeline .col-2 
{
  display: flex;
  overflow: hidden;
}

.timeline .corner 
{
  border: 3px solid rgb(247, 182, 193);;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.timeline .top-right 
{
  left: 50%;
  top: -50%;
}

.timeline .left-bottom 
{
  left: -50%;
  top: calc(50% - 3px);
}

.timeline .top-left 
{
  left: -50%;
  top: -50%;
}

.timeline .right-bottom 
{
  left: 50%;
  top: calc(50% - 3px);
}

/*From W3 Schools, cited fontawesome.com*/
.fa 
{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;

}

.fa:hover 
{
    opacity: 0.7;
}

.fa-linkedin
{
  background: rgb(247, 182, 193);
  color: black;
}

.fa-instagram 
{
  background: rgb(247, 182, 193);
  color: black;
}

.fa-linkedin:hover
{
  color:white;
  text-decoration: none;
}

.fa-instagram:hover
{
  color:white;
  text-decoration: none;
}